<html>
<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>包头绿色照明地理信息系统</title>
    <link rel="stylesheet" type="text/css" href="{%static 'baotou/arcgis_js_api/library/3.6/3.6/js/esri/css/esri.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'baotou/arcgis_js_api/library/3.6/3.6/js/dojo/dijit/themes/claro/claro.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'baotou/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'baotou/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'baotou/js/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'baotou/arcgis_js_api/library/3.6/3.6/init.js' %}"></script>

    <script type="text/javascript" src="{% static 'baotou/js/echarts-all.js' %}"></script>
    <script type="text/javascript" src="{% static 'baotou/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'baotou/js/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'baotou/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'baotou/js/project.js' %}"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=MmukalmtYNbVvGSM9UX0FsfKVTkvjAbu"></script>

</head>
<body>
    <div id="nav_bar">
	    <div id="left_section">
			<span id="home_title">包头绿色照明地理信息系统</span>
            <img id="menu_icon" src="{% static 'baotou/image/gis/menu.png' %}" />
		</div>
		<div id="right_section">
                <img class="operate_item" src="{% static 'baotou/image/gis/account.png' %}" />
                <img class="operate_item" src="{% static 'baotou/image/gis/operate.png' %}" />
                <img class="operate_item" src="{% static 'baotou/image/gis/msg.png' %}" />
		</div>
	</div>

    <div id="main_content">
            <div id="left_bar">
                    <ul id="menu_container" class="list-group">
				<li class="menu_list" class="list-group-item">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/设施管理.png' %}" />
						设施管理
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png' %}" />
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="layers_control_show()">分层显示</li>
					</ul>
				</li>
				<li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/设施查询.png' %}" alt=""/>
						设施查询
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png' %}" alt=""/>
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="spatial_search_show()">空间查询</li>
						<li class="sub_menu_list" onmousedown="attribute_search_show()">属性查询</li>
					</ul>
				</li>
				<li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/设施统计.png' %}" alt=""/>
						设施统计
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png'%}" alt=""/>
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="facility_statistics_show()">全部统计</li>
						<li class="sub_menu_list" onmousedown="facility_statistics_poly_show()">多边形统计</li>
					</ul>
				</li>
                <li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/设施台账.png' %}" alt=""/>
						设施台账
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png' %}" alt=""/>
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="voltage_transformer_standing_book_show()">变压器台账</li>
						<li class="sub_menu_list" onmousedown="meter_standing_book_show()">计控箱台账</li>
                        <li class="sub_menu_list" onmousedown="lamp_standing_book_show()">路灯台账</li>
						<li class="sub_menu_list" onmousedown="cable_conductor_standing_book_show()">电缆线台账</li>
					</ul>
				</li>
                <li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/三遥联动.png' %}" alt=""/>
						三遥联动
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png' %}" alt=""/>
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="mobile_control_show()">开关灯</li>
					</ul>
				</li>
                <li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/故障分析.png' %}" alt=""/>
						故障分析
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png' %}" alt=""/>
					</div>
					<ul class="sub_menu_container">
						<li class="sub_menu_list" onmousedown="fault_terminal()">终端故障</li>
						<li class="sub_menu_list" onmousedown="fault_lamp()">集中器故障</li>
                        <li class="sub_menu_list" onmousedown="fault_factory(0)">厂家设备质量</li>
					</ul>
				</li>

            <li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/三维仿真.png'%}" alt=""/>
                        三维仿真
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png'%}" alt=""/>
					</div>
					<ul class="sub_menu_container">
                        <li class="sub_menu_list" onmousedown="emulation_meter_show()">计控箱</li>
                        <li class="sub_menu_list" onmousedown="emulation_box_show()">箱变模型</li>
					</ul>
				</li>

            <li class="menu_list">
					<div class="menu_list_name">
                            <img class="list_icon" src="{% static 'baotou/image/gis/guide/地图切换.png'%}" alt=""/>
                         地图切换
                        <img class="list_array" src="{% static 'baotou/image/gis/array.png'%}" alt=""/>
					</div>
					<ul class="sub_menu_container">
                        <li class="sub_menu_list" onmousedown="road_map_show()">街景地图</li>
                        <li class="sub_menu_list" onmousedown="sat_map_show()">卫星地图</li>
					</ul>
				</li>


                </ul>
         </div>

         <div id="right_bar">
         </div>

    </div>


    <div id="layers_control" class="div_menu">
            <div class="div_title" id="layer_control_title">
                    <span>图层控制</span>
                    <image src="{% static 'baotou/image/gis/close.png'%}" onclick="layers_control_close()" 
                         alt="关闭" class="button_close"/>
            </div>
            <div id="laycontrol_ul_div">
                  <ul class="list-group" id="laycontrol_ul">
                       <li class="list-group-item" style="color:#0071bc;">
                           <input class="layers_input" type="checkbox" checked="checked" onclick="layers_control_select_all()" />全选
                       </li>
                  </ul>
            </div>
    </div>


    <div id="spatial_search" class="div_menu">
            <div id="spatial_search_title" class="div_title">
                    <span>空间查询</span>
                    <image src="{% static 'baotou/image/gis/close.png'%}" onclick="spatial_search_close()" 
                         alt="关闭" class="button_close"/>
            </div>
            <div id="spatial_select_text">选择要查询的业务图层</div>
            <div id="spatial_select">
                 <ul class="list-group" id="spatial_select_ul">
                     <li class="list-group-item">
                     <input type="checkbox" onclick="layers_select_all()" checked="checked" \
                             id="spatial_search_all"/>全选
                     </li>
                 </ul>
            </div>
            <div id="btn_layer_select">
                    <button class="btn btn-default btn_layer_select_item" \
                            onclick="layer_select_poly()">多边形选择</button>
                    <button class="btn btn-default btn_layer_select_item"  \
                            onclick="layer_select()">拉框选择</button>
            </div>
   </div>


   <div id="attribute_search" class="div_menu">
            <div class="div_title" id="attribute_search_title">
                 <div id="attribute_search_title" class="div_title">
                    <span>属性查询</span>
                    <img src="{% static 'baotou/image/gis/close.png' %}" onclick="attribute_search_close()"  
                    class="button_close" />
                 </div>
            </div>
            <div id="attribute_search_layers">
                    <span>查询图层:</span>
                    <select class="form-control attribute_search_select"  onchange="attribute_layer_onchange()"
                            id="attribute_search_layers_select"></select>
            </div>
            <div id="attribute_search_field1" class="attribute_search_field" style="disabled:disabled">
                    <span>字段1</span>
                    <select class="form-control attribute_search_select" id="attribute_select1"
                            onchange="attribute_aliase_onchange()"></select>
                    <select class="form-control attribute_search_select" id="attribute_value_select1"></select>
            </div>
            <div id="attribute_search_field2" class="attribute_search_field">
                    <span>字段2</span>
                    <input type="checkbox" class="attribute_search_checkbox" id="select_check2"
                            onchange="attribute_check2_onchange()"/>
                    <select class="form-control attribute_search_select" id="attribute_select2"
                            onchange="attribute2_aliase_onchange()"></select>
                    <select class="form-control attribute_search_select" id="attribute_value_select2"></select>
            </div>
            <div id="attribute_search_field3" class="attribute_search_field">
                    <span>字段3</span>
                    <input type="checkbox" class="attribute_search_checkbox" id="select_check3"
                            onchange="attribute_check3_onchange()"/>
                    <select class="form-control attribute_search_select" id="attribute_select3"
                            onchange="attribute3_aliase_onchange()"></select>
                    <select class="form-control attribute_search_select" id="attribute_value_select3"></select>
            </div>
            <div id="attribute_search_btn" class="attribute_search_field">
                    <button class="btn btn-default" id="attribute_search_btn"
                            onclick="locate()">点击定位</button>
            </div>
    </div>


    <div id="standing_book" class="div_menu">
        <div class="div_title" id="standing_book_title">
            <span id="standing_book_title_span">计控箱台账</span>
            <img src="{% static 'baotou/image/gis/close.png' %}" onclick="standing_book_close()" class="button_close" />
        </div>
        <div id ="standing_book_btn">
                <button class="btn btn-primary" onclick="standing_book_administrative_region_show()">所属行政区</button>
                <button class="btn btn-primary" onclick="standing_book_team_show()">所属道路</button>
        </div>
        <div id="standing_book_chart"></div>
        <div id="standing_book_tools">
                <div style="height:40px;float:left">
                        <button class="btn btn-default">Excel导出</button>
                </div>
                <div id="standing_book_search">
                        <span>全文搜索</span>
                        <input></input>
                </div>
        </div>
        <div id="standing_book_table">
                <table class="table table-striped" id="table_standing">
                        <thead> </thead> <tbody> </tbody>
                </table>
        </div>
    </div>



    <div id="mobile_control" class="div_menu" >
            <div class="div_title" id="rtu_title">
                    <span onclick="terminal_table_show()">终端列表</span>
                    <span onclick="lamp_table_show()">集中器列表</span>
                    <img src="{% static 'baotou/image/gis/close.png' %}" onclick="mobile_control_close()"
                         class="button_close" />
            </div>
            <div id="terminal_and_lamp">
                    <table class="table table-striped" id="terminal_and_lamp_table" >
                            <thead><tr><th style="width:20px"><input type="checkbox" onclick="terminal_and_lamp_selectall(this)">
                                            </th><th>终端ID</th>
                                            <th>名称</th><th>物理地址</th></thead>
                            <tbody></tbody>
                    </table>
            </div>
            <div id="select_loop">
                    <span class="select_loop_item">全部</span>
                    <span class="select_loop_item">k1</span> <span class="select_loop_item">k2</span> 
                    <span class="select_loop_item">k3</span> <span class="select_loop_item">k4</span>
                    <span class="select_loop_item">k5</span> <span class="select_loop_item">k6</span>
                    <span class="select_loop_item">k7</span> <span class="select_loop_item">k8</span>
            </div>
            <div id="select_loop_input">
                    <span class="select_loop_item"><input type="checkbox" onclick="loop_selectall()"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
                    <span class="select_loop_item"><input type="checkbox"></span>
            </div>
            <div id="button_group">
                    <button type="button" class="btn btn-primary" style="margin:10px 8px 16px 16px">开灯
                    <button type="button" class="btn btn-default" style="margin:10px 8px 16px 16px">关灯
                    <button type="button" class="btn btn-primary" style="margin:10px 8px 16px 16px">选测
                    <button type="button" class="btn btn-default" onclick="loop_move()"
                            style="margin:10px 16px 16px 16px;float:right">清除
            </div>
            <div id="terminal_and_lamp_status">
                    <span></span>
            </div>
    </div>
                       

    <div class = "div_menu" id="fault_statistics" >
            <div class = "div_title" id="fault_title">
                    <span>故障统计</span>
                    <img src = "{% static 'baotou/image/gis/close.png' %}" class = "button_close" onclick = "close_fault()" />
            </div>
            <div id= "fault_tools">
                 <button  class="btn fault-btn btn-primary" style="padding:4px 25px;"
                         onclick="fault_chart_show()">图线</button>
                 <button class="btn btn-default fault-btn" style="padding:4px 25px;"
                         onclick="fault_table_show()">表格</button>
            </div>
            <div id = "detail_all"> </div>
    </div>


    <div id="mobile_control_loop_list"  class="div_menu">
            <div class="div_title" id="loop_list_title">
                    <span>活动列表</span>
                    <img src="{% static 'baotou/image/gis/close.png' %}" onclick="loop_list_close()"
                         class="button_close" />
            </div>
            <div id="loop_list">
                    <table class="table table-striped" id="loop_list_table" >
                            <thead><tr><th width="120px">回路名称</th><th style="width:100px">开关量状态</th>
                                   <th>电压</th><th>电流</th><th>功率</th><th>功率因素</th></thead>
                            <tbody></tbody>
                    </table>
            </div>
    </div>

   <div id="search_result" class="div_menu">
       <div id="search_title" class="div_title">
               <span>查询结果</span>
               <img src="{% static 'baotou/image/gis/close.png'%}" onclick="search_result_close()"  
               class="button_close" />
       </div>
      <div id="layer_info_show"> 
              <span>图层选择:</span>
               <select class="form-control" id="search_result_select" onchange="search_result_layer_select()">
               </select>
       </div>
       <div id="search_result_table">
               <table class="table table-striped" id="table_result">
                     <thead><th>设施名称</th><th>编号</th><th>设施操作</th> 
                     </thead> <tbody></tbody>
               </table>
       </div>
    </div>


    <div id="facility_statistics" class="div_menu">
           <div id="facility_statistics_title" class="div_title">
               <span>设施统计结果</span>
               <img src="{% static 'baotou/image/gis/close.png'%}" onclick="facility_statistics_close()"  
               class="button_close" />
           </div>
           <div id="facility_statistics_table">
                   <table class="table table-striped" id="table_facility_statistics">
                           <thead><tr> <th>设施名称</th><th>名称</th></tr></thead>
                           <tbody></tbody>
                   </table>
           </div>
    </div>

    <div id="map_attribute_show" class="div_menu">
           <div id="map_attribute_title" class="div_title">
               <span onclick="base_info_show()">基础信息</span>
               <img src="{% static 'baotou/image/gis/间隔线.png'%}" />
               <span onclick="live_road_show()">街道实景</span>
               <img src="{% static 'baotou/image/gis/间隔线.png'%}" />
               <span>快捷下单</span>
               <img src="{% static 'baotou/image/gis/间隔线.png'%}" />
               <img src="{% static 'baotou/image/gis/close.png'%}" onclick="map_attribute_close()"  
                               class="button_close" />
           </div>
           <div id="map_attribute_content">
                   <div id="map_attribute_left">
                           <div id="map_attribute_image_div"><img id="map_attribute_image" src="{% static 'baotou/image/gis/暂无图片.png'%}" /></div>
                           <div id="map_attribute_relationship">
                                   <button class="btn btn-default map_attribute_btn" 
                                           onclick="maintain_record_show()">维修记录</button><br>
                                   <button class="btn btn-default map_attribute_btn">所属计控箱</button>
                           </div>
                   </div>
                   <div id="map_attribute_right">
                           <table class="table table-bordered" id="map_attribute_table"><tbody></tbody></table>
                   </div>
           </div>
           <div id="live_road_content" class="map_content_show" style="display:none">
                         <div style="width:100%;height:100%;float:left;background:#ffffff" id="jiejing_pic"></div>
           </div>

    </div>
    
                                    
    <div id="Div_ToolBar">
        <div id="clearselect" class="navItem" splitter="false" style="vertical-align: middle; overflow: hidden;" >
                <img class="navItem tool_bar_image" title="取消选择" src="{% static 'baotou/image/gis/cancel.png'%}"  />
        </div>
        <div id="extent" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" src="{% static 'baotou/image/gis/fullextent.png'%}" title="全图" />
        </div>
        <div id="zoomprev" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" src="{% static 'baotou/image/gis/zoomprev.png'%}" title="前一视图" />
        </div>
        <div id="zoomnext" class="navItem tool_bar_itme" splitter="false">
                <img class="navItem tool_bar_image" src="{% static 'baotou/image/gis/zoomnext.png'%}" title="后一视图"  />
        </div>
        <div id="zoomin" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" src="{% static 'baotou/image/gis/zoom_in.png'%}" title="地图放大"  />
        </div>
        <div id="zoomout" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" src="{% static 'baotou/image/gis/zoom_out.png'%}" title="地图缩小"  />
        </div>

        <div id="pan" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" title="漫游" src="{% static 'baotou/image/gis/pan.png'%}"  />
        </div>
        <div id="select" class="navItem" splitter="false">
                <img class="navItem tool_bar_image" title="拉框选择" src="{% static 'baotou/image/gis/rectangle.png'%}"  />
        </div>
    </div>



</body>
</html>
